@mixin flex-center-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-between-center-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-between-center-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}